%h1 새 설문조사 만들기

= form_for @survey do |f|
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  %hr
  .questions
    .question{data: {question_id: 1}}
      .question-label
        1.
        %input{type: "text", name: "questions[1][label]"}
      %a.btn.btn-default.addChoice{role: "button"} 보기 추가하기
      %a.btn.btn-default.deleteChoice{role: "button"} 보기 삭제하기
      %a.btn.btn-default.deleteQuestion{role: "button"} 질문 삭제하기
      .choices
        .choice
          1.
          %input{type: "text", name: "questions[1][choices][1][label]"}
          %input{type: "text", name: "questions[1][choices][1][next_question_id]"}
  %hr
  %a#addQuestion.btn.btn-default{role: "button"} 질문 추가하기
  %hr
  .actions
    = f.submit 'Save'


= link_to 'Back', surveys_path
