.col-md-offset-2.col-md-8
  .page-header
    %h1 새 설문조사 만들기

  = form_for @survey, role: 'form', html: {class: 'form-horizontal'} do |f|
    .form-group
      = f.label :title, "제목", class: 'col-sm-2 control-label'
      .col-sm-10= f.text_field :title, class: 'form-control', placeholder: '제목'
    .form-group
      = f.label :description, "설명", class: 'col-sm-2 control-label'
      .col-sm-10= f.text_area :description, class: 'form-control', placeholder: '설명'
    .form-group
      = f.label :end_at, "종료일", class: 'col-sm-2 control-label'
      .col-sm-10= f.text_field :end_at, id: "datepicker", class: 'form-control'
    %hr
    .row
      .col-sm-11
        %h3 문항 추가
    .questions
      .question{data: {question_id: 1}}
        .question-label
          .row.form-group
            .col-sm-1.text-right
              1.
            .col-sm-7
              %input.form-control{type: "text", name: "questions[1][label]"}
            .col-sm-4.text-right
              %a.btn.btn-default.addChoice{role: "button"} 보기 추가하기
              %a.btn.btn-default.deleteChoice{role: "button"} 보기 삭제하기
              %a.btn.btn-default.deleteQuestion{role: "button"} 질문 삭제하기
        .choices
          .choice
            .row.form-group
              .col-sm-offset-1.col-sm-8
                .col-sm-1.text-right
                  1.
                .col-sm-9
                  %input.form-control{type: "text", name: "questions[1][choices][1][label]"}
                .col-sm-2
                  %input.form-control{type: "text", name: "questions[1][choices][1][next_question_id]", placeholder: '다음', title: '선택지를 선택했을 때 이동할 문항 번호입니다'}
    %a#addQuestion.btn.btn-default.pull-right{role: "button"} 질문 추가하기
    .clearfix
    %hr
    .text-center
      = f.submit '저장하기', class: 'btn btn-primary'
    = link_to '뒤로 가기', surveys_path, class: 'btn btn-default', role: 'button'
:javascript
  $("#datepicker").datepicker({ dateFormat: 'yy/mm/dd' });
